.Transactions {
  display: flex;
  border: 2px solid blue; // causes bad vscrollbar appear
}
.Transactions__filters { // aside
  border: 2px solid green; // causes bad vscrollbar appear
  flex: 0 0 auto;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bs-info);
}
.TransactionsSection { // section
  border: 2px solid black;
  flex: 1 1 auto;
}
