.CategoryMultiSelectDropdown {
  outline: 1px solid blue;
}
.CategoryMultiSelectDropdown__title {
  font-size: .9rem;
}
.CategoryMultiSelectDropdown__selected {
  display: flex;
  flex-wrap: wrap;
  column-gap: .8rem;
}
.CategoryMultiSelectDropdown__dropdownLabel {
  font-size: .9rem;
}
.CategoryMultiSelectDropdown__selected-item {
  padding: 0 2px;
  margin-bottom: .4rem;
}
.CategoryMultiSelectDropdown__clear {
  font-size: .6rem;
  border-radius: 99px;
  margin-bottom: .4rem;
}
