.DoughnutExpenses {
  outline: solid 1px rgba(54, 162, 235, 1);
  // https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
  width: 98%;
  height: 0;
  padding-bottom: 86%; // square 98%
  margin: auto;
  @include media-breakpoint-up(mg) {
    width: 32rem;
    padding-bottom: 25rem; // square 32rem
  }
}
.DoughnutExpenses__Wrapper {
  position: relative;
}
.DoughnutExpenses__status {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
