.DoughnutExpenses {
  // https://stackoverflow.com/questions/5445491/height-equal-to-dynamic-width-css-fluid-layout
  position: relative;
  // min-width: 32rem;
  width: 98%;
  height: 0;
  padding-bottom: 98%;
  margin: auto;
  outline: solid 3px rgba(54, 162, 235, 1);
  @include media-breakpoint-up(mg) {
    width: 32rem;
    padding-bottom: 32rem;
  }
}
