.AppLayout {
  display: flex;  
}
.AppLayoutSider { // aside
  flex: 0 0 auto;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bs-info);
}
.AppLayoutMain { // main
  flex: 1 1 auto;
}
