// Override bootstrap's value of rem (i.e. html font-size)
$font-size-root: 87.5%; // 100% => 16px, typically the browser default
                        // 87.5% => 14px

// Add xxxl: 1590px to override bootstrap breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px, // 36
  sd: 610px, // 36
  md: 768px, // 48
  mg: 925px, // 32
  lg: 992px, // 32
  xl: 1200px, // 60
  xxl: 1400px // 80
);
$container-max-widths: (
  sm: 540px,
  sd: 650px,
  md: 720px,
  mg: 957px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$enable-negative-margins: true; // e.g. mt-n5

//////////////////////////////////////////////////////

// https://getbootstrap.com/docs/5.3/customize/sass/
// Copied from node_modules/bootstrap/scss/bootstrap.scss
@import '../node_modules/bootstrap/scss/mixins/_banner.scss';
@include bsBanner("");


// scss-docs-start import-stack
// Configuration
@import '../node_modules/bootstrap/scss/_functions.scss';
@import '../node_modules/bootstrap/scss/_variables.scss';
@import '../node_modules/bootstrap/scss/_variables-dark.scss';
@import '../node_modules/bootstrap/scss/_maps.scss';
@import '../node_modules/bootstrap/scss/_mixins.scss';
@import '../node_modules/bootstrap/scss/_utilities.scss';

// Layout & components
@import '../node_modules/bootstrap/scss/_root.scss';
@import '../node_modules/bootstrap/scss/_reboot.scss';
@import '../node_modules/bootstrap/scss/_type.scss';
// @import '../node_modules/bootstrap/scss/_images.scss';
@import '../node_modules/bootstrap/scss/_containers.scss';
@import '../node_modules/bootstrap/scss/_grid.scss';
// @import '../node_modules/bootstrap/scss/_tables.scss';
@import '../node_modules/bootstrap/scss/_forms.scss';
@import '../node_modules/bootstrap/scss/_buttons.scss';
// @import '../node_modules/bootstrap/scss/_transitions.scss';
// @import '../node_modules/bootstrap/scss/_dropdown.scss';
// @import '../node_modules/bootstrap/scss/_button-group.scss';
// @import '../node_modules/bootstrap/scss/_nav.scss';
// @import '../node_modules/bootstrap/scss/_navbar.scss';
// @import '../node_modules/bootstrap/scss/_card.scss';
// @import '../node_modules/bootstrap/scss/_accordion.scss';
// @import '../node_modules/bootstrap/scss/_breadcrumb.scss';
@import '../node_modules/bootstrap/scss/_pagination.scss';
// @import '../node_modules/bootstrap/scss/_badge.scss';
@import '../node_modules/bootstrap/scss/_alert.scss';
// @import '../node_modules/bootstrap/scss/_progress.scss';
// @import '../node_modules/bootstrap/scss/_list-group.scss';
@import '../node_modules/bootstrap/scss/_close.scss';
// @import '../node_modules/bootstrap/scss/_toasts.scss';
// @import '../node_modules/bootstrap/scss/_modal.scss';
// @import '../node_modules/bootstrap/scss/_tooltip.scss';
// @import '../node_modules/bootstrap/scss/_popover.scss';
// @import '../node_modules/bootstrap/scss/_carousel.scss';
// @import '../node_modules/bootstrap/scss/_spinners.scss';
@import '../node_modules/bootstrap/scss/_offcanvas.scss';
// @import '../node_modules/bootstrap/scss/_placeholders.scss';

// Helpers
@import '../node_modules/bootstrap/scss/_helpers.scss';

// Utilities
@import '../node_modules/bootstrap/scss/utilities/_api.scss';
// scss-docs-end import-stack

//////////////////////////////////////////////////////

// https://dev.to/shhdharmen/responsive-size-classes-in-bootstrap-3ojl
// generate responsive widths ... w-sm-100 w-sm-auto etc...
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $prop, $abbrev in (width: w, height: h) {
      @each $size, $length in map-get(map-get($utilities, width), values) {
        .#{$abbrev}#{$infix}-#{$size} {
          #{$prop}: $length !important;
        }
      }
    }
  }
}

// generate responsive position ... position-sm-static etc...
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $val in map-get(map-get($utilities, position), values) {
      .position#{$infix}-#{$val} {
        position: $val !important;
      }
    }
  }
}

//////////////////////////////////////////////////////

// https://icons.getbootstrap.com/
@import '../node_modules/bootstrap-icons/font/bootstrap-icons.min.css';

//////////////////////////////////////////////////////

// other third parties css
@import 'react-datepicker/dist/react-datepicker.css';

//////////////////////////////////////////////////////

// Application's own styles that needs sass functionality e.g. @include media-breakpoint-up(md), etc
// or simply styles that are shared
@import './scss/shared.scss';
@import './routes/AppLayout/components/SiderDrawer2.scss';
@import './routes/AppLayout/AppLayout.scss';
@import './routes/Transactions/Transactions.scss';
@import './routes/Transactions/components/TransactionsList.scss';
@import './routes/Transactions/components/TransactionsListNoSelects.scss';
@import './routes/Dashboard/Dashboard.scss';
@import './routes/Dashboard/components/DoughnutExpenses.scss';
@import './routes/Dashboard/components/ChartMonthlyBalance.scss';
@import './routes/Dashboard/components/ChartMonthlyIncome.scss';
