.button__actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

$color-paper: var(--bs-gray-300);
$color-paper-dark: var(--bs-gray-500);

.text-paper {
  color: $color-paper;
}
.text-paper-dark {
  color: $color-paper-dark;
}

.bg-paper {
  background: $color-paper;
}
