.button__actions {
  display: flex;
  justify-content: flex-end;
  column-gap: 1rem;
}

.app__row {
  display: flex;
}
.app__col {
  padding: .48rem;
}

$color-paper: var(--bs-gray-300);
$color-paper-dark: var(--bs-gray-500);

.text-paper {
  color: $color-paper;
}
.text-paper-dark {
  color: $color-paper-dark;
}

.bg-paper {
  background: $color-paper;
}

.text-red {
  color: #ff0000;
}
